<header class="header">
  <div class="container">
    <div class="logo">Task List</div>

    <nav>
      <div class="navbar">
        <a href="/">Home</a>
        <% if (user) { %>
        <a href="/lists">Your Lists</a>
        <a href="/lists/new">+ New List</a>
        <a href="/auth/logout">Logout</a>
        <% } else { %>
        <a href="/auth/login">Login</a>
        <a href="/auth/sign-up">Sign Up</a>
        <% } %>
      </div>
    </nav>
  </div>
</header>
