<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="/style/style.css">

</head>
<body>
    <%- include('partials/navbar') %>

  <h1>Welcome, <%= user.username %>!</h1>
  <p>This is your home page.</p>
  <a href="/lists">Go to your Lists</a>
  <br/>
  <a href="/auth/logout">Logout</a>
    
</body>
</html>